@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
.App {
  display: flex;
    flex-wrap: wrap;
    padding: 20px;
    flex-direction: column;
}
.app-name{
  display: flex;
  justify-content: center;
  margin: 5px;
}
nav{
  display: flex;
  gap: 20px;
  margin: 15px;
}
/* .msg{
  font-family: 'Aladin', cursive;
}

.prof-pic{
  height: 9rem;
  width: 8rem;
  object-fit: cover;
  border-radius: 50%;
} */

body{
  background-color: lightgrey;
}
.movie-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container {
  width: 280px;
  height: auto;
  border: 2px solid rgb(21, 124, 128);
  margin: 5px;
  font-family: 'Aladin', cursive;
  padding: 1.5px;
  /* background-color: lavenderblush; */
  box-shadow: 10px 10px 26px 0px rgba(40,44,166,0.75);
  -webkit-box-shadow: 10px 10px 26px 0px rgba(40,44,166,0.75);
  -moz-box-shadow: 10px 10px 26px 0px rgba(40,44,166,0.75);
  
}

.movie-specs2{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.app-name{
  color: blueviolet;
}
.poster{
  width: 280px;
  height: 350px;
}

.title{
  max-width: 75%;
}
.movie-specs{
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

.cast, .director,.summary{
  font-size: medium;
  margin: 1px 0 1px 0;
  padding: 0 0 0 3.5px;
}

.Counter-container{
  display: flex;
  gap: 10px;
}


.show-button{
  margin: 2px 0 6px 0;
}
.form-addmovie{
  display: flex;
  flex-wrap: wrap;
}

.color-box{
  display: flex;
}

.notfound-image{
  width: 100%;
  object-fit: cover;
}

.notfound-container{
  text-align: center;
}

.like-edit-delete-button{
  margin-top: 3px ;
  margin-bottom: 0;
  display: flex;
  size: 10px;
}
.Add-movie, .Edit-movie{
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
}
 
.game-box{
  background-color: rgb(156, 138, 63);
  color: black;
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  border: 7px solid rgb(255, 94, 2);
  cursor:pointer;
  
}

.full-game{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.wallpaperscraft.com/image/single/nebula_glow_stars_217274_2560x1440.jpg") ;
  background-repeat: no-repeat;
  height: 100vh;
  gap: 30px;
}

.game-result{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.game-board{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* also use 
  grid-template-columns:repeat(3,fr;
  */
  width: min-content;
}

